<?xml version="1.0" encoding="UTF-8"?>
<!-- mapper 에 대한 선언 문 -->
<!DOCTYPE mapper PUBLIC
	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<!-- XML 이 어떤interface 와 연결이 되는가? -->
<mapper namespace="com.hong.blog.dao.BoardDAO">
	<select id="getPostList" resultType="com.hong.blog.dto.BoardDTO">
		SELECT postId, title, postContent, regDate, hits, userId, categoryId FROM post ORDER BY regDate DESC
	</select>
	
	<delete id="delPost">
		DELETE FROM post WHERE postId=#{param1}
	</delete>
	
	<insert id="write" parameterType="com.hong.blog.dto.BoardDTO">
		INSERT INTO post(title, postContent, userId, categoryId) 
		VALUES(#{title}, #{postContent}, #{userId}, 5)
		<selectKey resultType="int" keyProperty="postId" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>
	
	<select id="detail" resultType="com.hong.blog.dto.BoardDTO">
		SELECT postId, title, postContent, regDate, hits, userId, categoryId FROM post WHERE postId=#{param1}
	</select>
	
	<update id="update">
		UPDATE post SET title=#{param2}, postContent=#{param3} WHERE postId=#{param1}
	</update>
	
	<update id="upHits" parameterType="int">
		UPDATE post SET hits=hits+1 WHERE postId=#{postId}
	</update>
</mapper>