<?xml version="1.0" encoding="UTF-8"?>
<!-- mapper 에 대한 선언 문 -->
<!DOCTYPE mapper PUBLIC
	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<!-- XML 이 어떤interface 와 연결이 되는가? -->
<mapper namespace="com.hong.blog.dao.BoardDAO">
	<select id="getPostList" resultType="com.hong.blog.dto.BoardDTO">
		SELECT postId, title, postContent, regDate, hits, userId, categoryId FROM post ORDER BY regDate DESC
	</select>
	
	<delete id="delPost">
		DELETE FROM post WHERE postId=#{param1}
	</delete>
	
	<insert id="write">
		INSERT INTO post(postId, title, postContent, userId, categoryId) 
		VALUES(get_seq('post'), #{param1}, #{param3}, #{param2}, 5)
	</insert>
	
	<select id="detail" resultType="com.hong.blog.dto.BoardDTO">
		SELECT postId, title, postContent, regDate, hits, userId, categoryId FROM post WHERE postId=#{param1}
	</select>
</mapper>